<a href="https://colab.research.google.com/github/ariel07-sw/angrist-evans-1998-iv-replication/blob/main/01_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df806 = pd.read_sas("m_d_806.sas7bdat", format="sas7bdat", encoding="latin1")
df903 = pd.read_sas("m_d_903.sas7bdat", format="sas7bdat", encoding="latin1")

df806.to_csv("census_806.csv", index=False)
df903.to_csv("census_903.csv", index=False)

print("Done!")
print("806:", df806.shape, " -> census_806.csv")
print("903:", df903.shape, " -> census_903.csv")

Done!
806: (927267, 85)  -> census_806.csv
903: (974693, 69)  -> census_903.csv

In [ ]:
import os
dirs = [
    "data/raw",
    "data/processed",
    "notebooks"
]
for d in dirs:
    os.makedirs(d, exist_ok=True)

print("Folders created:", dirs)

Folders created: ['data/raw', 'data/processed', 'notebooks']

In [ ]:
import shutil

shutil.move("m_d_806.sas7bdat", "data/raw/m_d_806.sas7bdat")
shutil.move("m_d_903.sas7bdat", "data/raw/m_d_903.sas7bdat")

print("Moved raw files to data/raw/")

Moved raw files to data/raw/

In [ ]:
import shutil

shutil.move("census_806.csv", "data/processed/census_806.csv")
shutil.move("census_903.csv", "data/processed/census_903.csv")

print("Moved processed files to data/processed/")

Moved processed files to data/processed/

In [ ]:
import os
os.makedirs("data/raw", exist_ok=True)
os.makedirs("data/processed", exist_ok=True)

In [ ]:
## Step 1.3 Data Ingestion Sandbox (SAS -> DataFrame -> CSV)

import pandas as pd

raw_path_806 = "data/raw/m_d_806.sas7bdat"
raw_path_903 = "data/raw/m_d_903.sas7bdat"

df806 = pd.read_sas(raw_path_806, format="sas7bdat", encoding="latin1")
df903 = pd.read_sas(raw_path_903, format="sas7bdat", encoding="latin1")

print("df806 shape:", df806.shape)
print("df903 shape:", df903.shape)

display(df806.head())
display(df903.head())

miss_806 = df806.isna().mean().sort_values(ascending=False).head(15)
miss_903 = df903.isna().mean().sort_values(ascending=False).head(15)
print("\nTop missingness (806):\n", miss_806)
print("\nTop missingness (903):\n", miss_903)

df806 shape: (927267, 85)
df903 shape: (974693, 69)

,STATE,SEXK,AGEK,QTRBKID,RACEK,SPANISH,BIRTHPLK,SCHOOLK,GRADE,FINGRADE,...,FINGRADD,CLASSD,WEEKSD,HOURSD,INCOME1D,INCOME2D,AWEEK79D,AHOUR79D,AINC1D,AINC2D
0,01,1,09,3,01,0,001,1,06,1,...,2,1,52,40,28005,00000,0,0,0,0
1,01,1,08,3,01,0,001,2,05,1,...,2,5,52,72,00000,10005,0,0,0,3
2,01,0,09,1,01,0,001,1,05,1,...,2,5,16,48,00000,16005,0,0,2,0
3,01,0,05,2,01,0,001,1,02,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01,1,11,1,01,0,001,1,07,1,...,2,1,32,40,09925,00000,0,0,3,3

,SEX2NDK,MULTI2ND,AGE2NDK,ASEX2ND,AAGE2ND,SEXK,RACEK,AGEK,PWGTK1,HISPK,...,INCOMED1,INCOMED2,ARACED,AAGED,AHISPD,ASCHD,AWKS89D,AHRS89D,AINCD1,AINCD2
0,0,0.0,12.0,0,0,1,001,16.0,12.0,000,...,020000,000000,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,0,001,14.0,12.0,000,...,039459,000000,0,0,0,0,0,0,0,0
2,0,0.0,8.0,0,0,0,001,9.0,19.0,000,...,030000,000000,0,0,0,0,0,1,2,0
3,1,0.0,10.0,0,0,1,001,11.0,15.0,000,...,049348,000000,0,0,0,0,0,0,0,0
4,1,0.0,13.0,0,0,1,001,15.0,23.0,000,...,080000,000000,0,0,0,0,0,0,0,0

Top missingness (806):
 SEX5TH      0.977827
AGEQ5TH     0.977827
AGEQ4TH     0.919211
SEX4TH      0.919211
AGEQ3RD     0.729136
SEX3RD      0.729136
AYEAR2ND    0.293441
SCH2ND      0.293441
FIN2ND      0.293441
ASEX2ND     0.293441
AAGE2ND     0.293441
AQTR2ND     0.293441
ASCH2ND     0.293441
SPAN2ND     0.293441
GRADE2ND    0.293441
dtype: float64

Top missingness (903):
 SEX2NDK     0.316314
MULTI2ND    0.316314
AGE2NDK     0.316314
ASEX2ND     0.316314
AAGE2ND     0.316314
HISPD       0.217383
POBD        0.217383
SCHOOLD     0.217383
YEARSCHD    0.217383
WEEK89D     0.217383
HOUR89D     0.217383
INCOMED1    0.217383
INCOMED2    0.217383
ARACED      0.217383
AAGED       0.217383
dtype: float64

In [ ]:
out_806 = "data/processed/census_806.csv"
out_903 = "data/processed/census_903.csv"

df806.to_csv(out_806, index=False)
df903.to_csv(out_903, index=False)

print("Saved:", out_806, out_903)

Saved: data/processed/census_806.csv data/processed/census_903.csv

In [ ]:
import os
print(os.listdir("data/processed")[:10])

['census_903.csv', 'census_806.csv']